{# video.html #}
<div class="video">
	<div><span class="ErrorBar">{{ ErrorStr }}</span></div>
{% if appli.player.currVideo %}
	<div class="BlockName">{{ appli.player.currVideo.title }}</div>
	<div class="VideoInt">
		<div class="Thumbnail">
			<img src="{{ appli.player.currVideo.getThumbnail() }}"/>
			<button class="OverlayButton PauseButton"><img src="static/img/Pause.png"/></button>
			<button class="OverlayButton PlayButton"><img src="static/img/Play.png"/></button>
			<div class="LoadingIndicator">
				<img src="static/img/loading.gif"/>
			</div>
		</div>
		<div class="ProgressBar" id="VideoPB">
			<span></span>
			<div class="ProgressBarTooltip"></div>
			<div class="ProgressPlayed" id="VideoPP"> </div>
		</div>
		<div class="VideoControlBar">
			<button class="PauseButton"><img src="static/img/Pause.png"/></button>
			<button class="PlayButton"><img src="static/img/Play.png"/></button>
			<button class="StopButton"><img src="static/img/Stop.png"/></button>
			{% if appli.player.hasVideoStreams() %}
				<select class="Selector" id="Video">
				{% for formatId, format in appli.player.getFormatListItems() %}
					<option value="{{ formatId }}" {% if appli.player.formatId == formatId %}selected{% endif %} >
					{{ format }}
					</option>
				{% endfor %}
				</select>
			{% endif %}
			{% if appli.player.hasAudioStreams() %}
				<select class="Selector" id="Audio">
				{% for audid, audstr in appli.player.getAudioStreams().items() %}
					<option value="{{ audid }}" {% if appli.player.audioStreamId == audid %}selected{% endif %} >
					{{ audstr }}
					</option>
				{% endfor %}
				</select>
			{% endif %}
			{% if appli.player.hasSubtitles() %}
				<select class="Selector" id="Subtitles">
				{% for subid, substr in appli.player.getSubtitles().items() %}
					<option value="{{ subid }}" {% if appli.player.subtitleId == subid %}selected{% endif %} >
					{{ substr }}
					</option>
				{% endfor %}
				</select>
			{% endif %}
		</div>
	</div>
	<div class="Description">
	<h2>Description</h2>
	<p>{{ appli.player.currVideo.getDescription() }}</p>
	</div>
{% endif %}
	<div class="LoadingIndicator">
		<img src="static/img/loading.gif"/>
	</div>
</div>
